
*, *::before, *::after{
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    display: grid;
    place-items: center;
    min-height: 100%;
    background-color:burlywood;
}
label{
    display: block;
    margin-bottom: 0.5rem;
}
input{
    display:block;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
   border-radius: 0.25rem;
}
.width{
    width: 50%;
    margin-left: auto ;
}
.form{
   width:clamp(400px,60%,50px); 
   margin: 0 auto;
   border: 1px solid #ccc;
   border-radius: 0.35rem;
   padding: 1.75rem;
}
.text-center{
    padding: 4px;
   text-align: center; 
   font-weight: bolder;
   color: brown;
}
/*progress bar*/
.progressbar{
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 6px o;
    padding:3px;
}
.progressbar::before, .progress{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 6px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
}
.progress{
    background-color: brown;
    width:0%;
    transition: 0.2s;
}
.progress-step{
    width: 3rem;
    height: 3rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.progress-step::after{
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #666;

}
.progress-step-active{
    background-color: brown;
    color: #f3f3f3;
}
.progress-step::before{
    counter-increment: step;
    content: counter(step);


}
.form-step{
    display: none;
    transform-origin:top ;
    animation: animate 0.5s;
}
.form-step-active{
    display: block;
}
@keyframes animate{
    from{
        transform: scale(1,0);
        opacity: 0;

    }
    to{
        transform: scale(1,1);
        opacity: 1;  
    }
}
.input-group{
    margin: 2rem 0;
}
.btns-group{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.btn{
   padding: 0.75rem;
   display: block;
   text-decoration: none; 
   background-color:brown;
   color: #ccc;
   text-align: center;
   cursor: pointer;
   border-radius: 0.25rem;
   transition: o.2s;

}
.btn{
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px brown;
}
